/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

/** Core CSS required for ionic components to work property */
@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/float-elements.css";
@import "~@ionic/core/css/text-alignment.css";
@import "~@ionic/core/css/text-transformation.css";
@import "~@ionic/core/css/flex-utils.css";

/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/

.fil-bancos{
  object-fit: contain;
}

.features-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;  
  background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.features-table td {
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.features-table tbody td {
  text-align: center;
  /* font: normal 12px Verdana, Arial, Helvetica; */
  width: 100px;
}

/* .features-table tbody td:first-child { */
/* .features-table tbody td {
  width: auto;
  text-align: left;
  text-align: center;
} */

.features-table td:nth-child(2)
{
  background: #efefef;
  background: rgba(171, 207, 241, 0.15);
  border-right: 1px solid white;
}

.features-table td:nth-child(3) 
{
  background: #dad9c5;
  background: rgba(206, 203, 63, 0.15);
  border-right: 1px solid white;
}


.features-table td:nth-child(1) {
  background: #e7f3d4;  
  background: rgba(184,243,85,0.3);
}

/*Header*/
.features-table thead td {
  font: bold 1em 'trebuchet MS', 'Lucida Sans', Arial;  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea; 
}

.features-table thead td:first-child {
  border-top: none;
}

/*Footer*/
.features-table tfoot td {
  font: bold 1.4em Georgia;  
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child {
  border-bottom: none;
}

.detalle{
  vertical-align: middle;
  font-size: 0.9em;
}

.sep1 {
  border: 2px solid rgb(161, 160, 160); 
  border-radius: 300px/10px; 
  height: 0px; 
  text-align: center;
}

.sep-tip-servicio
{
  border: 2px solid rgb(161, 160, 160); 
  border-radius: 300px/10px; 
  height: 0px; 
  text-align: center;
}

.sep-card
{
  border: 1px solid rgb(161, 160, 160); 
  border-radius: 300px/10px; 
  height: 0px;
  width: 80%; 
  text-align: center;
}

.nota-legal{
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 1px solid #c7c3c7;
  box-sizing: content-box;
  margin-top: 8px;
  padding: 0px 15px 0px 15px;
  /* height: 130px; */
  font-size: 12px;
  background: rgb(213, 221, 248);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E2E2E2, rgb(218, 225, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selected{
  /* --ion-background-color:rgb(225, 247, 212); */
  --ion-background-color: #e7f3d4;
}